// GRID NOTES:
// -
// COLUMNS - 12 vs. 24
// SIZING - PX, %, EM, REM
// GUTTERS - Margin vs. Padding
// BREAKPOINTS - XS, SM, MD, LG, XL

$grid-columns: 12;
$grid-gutter: 30px;
$grid-column-names: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve;

$grid-breakpoints: (
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-widths: (
  sm: 480px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

.container{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  @include clearfix();

  @each $breakpoint, $container-width in $container-widths {
    @include media-query($breakpoint) {
      max-width: $container-width;
    }
  }

}

.grid{
  margin-left: auto;
  margin-right: auto;
  @include clearfix();
}

.column{
  width: auto;
  min-height: 1px;
  position: relative;
  padding-left: ($grid-gutter / 2);
  padding-right: ($grid-gutter / 2);
}

@media (min-width : map-get($grid-breakpoints, "sm")) {
  @each $column in $grid-column-names {
    $i: index($grid-column-names, $column);
    .#{$column} {
        float: left;
        width: percentage($i / $grid-columns);
    }
  }
}
