.img-responsive{
  max-width: 100%;
}

.text-center{
  text-align: center;
}

.block{
  display: block;
}

.indent{
  margin-left: 35px;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.text-blue{
  color: #33C3F0;
}
