// CLEARFIX
// ______________________________________

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// MEDIA QUERY BUILDER
// ______________________________________

@mixin media-query($breakpoint) {
  @media (min-width: #{map-get($grid-breakpoints, $breakpoint)}) {
    @content;
  }
}
