// POST COMPONENT

.post{
  @include clearfix;
  margin-bottom: 10px;

  > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.post--padded{
  @extend .post;
  padding: 20px;
}

.post--img-top{
  .post__img{
    width: 100%;
    margin-bottom: 10px;
  }
  .post__content{
    width: 100%;
  }
}

.post__img{
  width: 25%;
  float: left;
}
.post__content{
  width: 75%;
  float: left;
}
